.navbar {
    margin: 0 auto;
}
li
{
    list-style-type: none;
}
@media only screen and (min-height: 600px) {
    .teste {
        position:relative;
        left:-40%;
    }

}
@media only screen and (min-height: 768px) {
    .teste {
        position:relative;
        left:-42%;
    }

}
@media only screen and (min-height: 1200px) {
    .teste {
        position:relative;
        left:-45%;
    }

}
.navbar{
    padding:0;
}
.dropdown-toggle::before,
.dropdown-toggle::after {
    /* Increase or decrease font-size to adjust arrow size */
    font-size: 20px; /* Adjust as needed */
}
.nav-link:hover {
    background-color:#A9A9A9;
    background-repeat: no-repeat;
    background-size: 300px 100px;
    border-radius:2px;

}
.card-body {
    background-color: #f7f7f7;
}
#vertical-line {
    height:60%;
    border-right: 1px solid white;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0.5;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel {
    width: 80%;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .carousel {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .carousel {
        width: 80%;
    }
}
.carousel-item active {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 768px) {
    .carousel-titulo {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .carousel-titulo {
        font-size: 18px;
    }
}
#card-foda {
    width: 18rem;
    margin:15px;
    padding:5px;
    border-style:solid;
    border-width: 2px;
    border-image: linear-gradient(black, grey) 50;
    display:inline-block;
}
@media (max-width: 500px) {
    #card-foda {
        width: 18rem;
        margin:15px;
        padding:5px;
        border-style:solid;
        border-width: 2px;
        border-image: linear-gradient(black, grey) 50;
    }
}
@media (max-width: 768px) {
    #card-foda {
        width: 18rem;
        margin:15px;
        padding:5px;
        border-style:solid;
        border-width: 2px;
        border-image: linear-gradient(black, grey) 50;
    }
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}
.main {
    margin-top: 30px;
}
.cartao {
    max-height: 200px;
    overflow-y: auto;
}

.bordas {
    max-height: 665px;
    margin-left: 60px;
    margin-top: 60px;
    max-width: 600px;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border:5px solid;
    border-image-slice: 1;
    border-width:5px;
    border-image-source: linear-gradient(to right, darkslategrey, black);
}

/* Adjust styles for screens smaller than 992px (adjust breakpoint as needed) */
@media (max-width: 992px) {
    .bordas {
        max-height: 100%; /* Adjust max-height for smaller screens */
    }
}

/* Adjust styles for screens smaller than 768px (adjust breakpoint as needed) */
@media (max-width: 768px) {
    .bordas {
        /* Adjust max-height for smaller screens */
        margin: 60px 12% auto 9%;
        max-width: 80%; /* Set max-width to 100% for smaller screens */
        display:flex;


    }
}

.card:hover {
    box-shadow: 0 0px 16px 0 grey;
}


/* Default styles (apply to all screen sizes) */
.col-md-6{
    margin-top: 40px;
    margin-left: 30px;
    max-width: 75%;
}

/* Tablet and smaller screens (max-width: 768px) */
@media screen and (max-width: 768px) {
    .col-md-6{
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        flex: 1 0 auto;/* Make the form full width on smaller screens */
    }
}

/* Mobile screens (max-width: 576px) */
@media screen and (max-width: 576px) {
    .col-md-6{
        display: block;
        max-width:100%;

    }
}
.review123{

}

/* Tablet and smaller screens (max-width: 768px) */
@media screen and (max-width: 928px) {
    .review123{
        max-width: 100%;

    }
}

/* Mobile screens (max-width: 576px) */
@media screen and (max-width: 576px) {
    .review123{
        display:flex;
        justify-content: center;
        padding-bottom:5px;
    }
}
@media screen and (max-width: 576px) {
    .botaosub{
        padding-bottom:5px;
        display:flex;
        margin:auto;

    }
}
@media screen and (max-width: 1095px) {
    .botaosub{
        padding-bottom:5px;
        display:flex;
        margin:auto;

    }
}
@media screen and (max-width: 1250px) {
    .botaosub{
        padding-bottom:5px;
        display:flex;
        margin:auto;

    }
}
.row {
    display: flex; /* Make the row a flex container */
    justify-content: center; /* Horizontally center the content within the row */
}
hr.rounded {
    border-top: 7px solid black;
    border-radius:5px;
}
@media screen and (max-width: 1095px) {
    hr.rounded {

        border-top: 8px solid black;
        border-radius: 5px;
    }
}
hr.rounded2 {
    border-top: 8px solid black;
    border-radius:5px;
}
@media screen and (max-width: 1095px) {
    hr.rounded2 {
        border-top: 8px solid black;
        border-radius:5px;
    }
}
@media screen and (max-width: 576px) {
    hr.rounded2 {
        border-top: 2px solid black;
        border-radius:5px;
    }
}
.responsivo {
    max-width: 70%;
    max-height:240px;
    margin-left:20px;
    border-style: solid;
    border-width: 4px;
    border-image:linear-gradient(grey, black) 50;
    background-color:#9B9CA6;
}

@media screen and (max-width: 768px) {
    .responsivo {
        max-width: 70%;
        max-height:100%;
        margin-left:20px;
        border-style: solid;
        border-width: 4px;
        border-image:linear-gradient(grey, black) 50;
        background-color:#9B9CA6;
    }
}
.responsivo2 {
    max-width: 70%;
    max-height:240px;
    margin-left:20px;
    border-style: solid;
    border-width: 4px;
    border-image:linear-gradient(black, grey) 50;
    background-color:#9B9CA6;
}

@media screen and (max-width: 768px) {
    .responsivo2 {
        max-width: 70%;
        max-height:100%;
        margin-left:20px;
        border-style: solid;
        border-width: 4px;
        border-image:linear-gradient(black, grey) 50;
        background-color:#9B9CA6;
    }
}
@media screen and (max-width: 768px) {
    .imagem1 {
        width:100%;
        max-height:140px;
        background-color:#9B9CA6;

    }
}
.bottom-right {
    position: absolute;
    margin-right:10%;
}
@media screen and (max-width: 576px) {
    .imagem-f{
        width:100%;
        max-height:250px;

    }
}
@media screen and (max-width: 768px) {
    .imagem-f{
        width:100%;
        max-height:350px;

    }
}
.rating-box {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #1B1212;
    font-weight: bold;
    max-width:170px;
    color:white;
}
.adicjogos {
    margin-top:60px;
    width:55%;
    color:white;
    font-size:20px;
}
@media screen and (max-width: 768px) {
    .adicjogos {
        margin-top:60px;
        width:70%;
        color:white;
        font-size:20px;
    }
}
.vermais:hover {
    border: 2px solid white;
}
.user-img{

    margin-top: 4px;
}
.check-icon{

    font-size: 17px;
    color: #c3bfbf;
    top: 1px;
    position: relative;
    margin-left: 3px;
}
.icons i{

    margin-left: 8px;
}
.reply{

    margin-left: 12px;
}

.reply small{

    color: #b7b4b4;

}


.reply small:hover{

    color: green;
    cursor: pointer;

}
.user-img{

    margin-top: 4px;
}

.check-icon{

    font-size: 17px;
    color: #c3bfbf;
    top: 1px;
    position: relative;
    margin-left: 3px;
}

.form-check-input{
    margin-top: 6px;
    margin-left: -24px !important;
    cursor: pointer;
}


.form-check-input:focus{
    box-shadow: none;
}
@media screen and (max-width: 576px) {
    .imagem-f{
        width:100%;
        max-height:250px;

    }
}
@media screen and (max-width: 1095px) {
    .textoreview {
        margin:auto;
    }
}

@media screen and (max-width: 576px) {
    .textoreview {
        position: absolute;
        width: 70%;
        left: 10%;
    }
}
@media screen    and (max-width: 576px) {
    .comentarioreview3 {
        width: 100%;
        display: flex;
        margin: auto;
        position: initial;
        margin-top:330px;
        position:relative;
        left: 2%;

    }
}

@media screen    and (max-width: 576px) {
    .comentarioreview {

        width: 100%;
        display: flex;
        margin: auto;
        position: initial;
        margin-top:10px;
        position:relative;
        left:2%;

    }
}

@media screen and (max-width: 576px) {
    .comentarioreview2 {
        display:flex;
        width:100%;
        left:0%;
        margin:auto;
    }
}
@media screen and (max-width: 972px) {
    .comentarioreview2 {
        max-width:100%;
        width:100%;
        display:flex;
    }
}
@media screen and (max-width: 972px) {
    .textoreview {

        width:80%;
    }
}
@media screen and (max-width: 972spx) {
    .col-md-6 {
        max-width:80%;
        width:60%;
        display:flex;
        left:3%;
    }
}
@media screen and (max-width: 1035px) {
    .centralizar{
        width:100%;

        margin-left:50%;
        margin-right:50%;

    }
}
@media screen and (max-width: 576px) {
    .m-100{
        margin-top:320px;
        position:relative;
        left:12%;


    }
}
.letra {
    font-size: 70px;
    text-shadow: 3px 3px black;

}

@media (max-width: 768px) {
    .letra {
        font-size: 50px;
        text-shadow: 3px 3px black;

    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .letra {
        font-size: 60px;
        text-shadow: 2px 2px black;
    }
}

@media (min-width: 1025px) {
    .letra {
        font-size: 80px;
        text-shadow: 3px 3px black;

    }
}

@media (max-width: 578px) {
    .letra {
        font-size: 26px;
        text-shadow: 1px 1px black;

    }
}
.letra2 {
    font-size: 60px;
    text-shadow: 3px 3px black;

}

@media (min-width:200px) and (max-width: 768px) {
    .letra2 {
        font-size: 40px;
        text-shadow: 3px 3px black;

    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .letra2 {
        font-size: 50px;
        text-shadow: 3px 3px black;

    }
}

@media (min-width: 1025px) {
    .letra2 {
        font-size: 80px;
        text-shadow: 3px 3px black;

    }
}

@media (max-width: 578px) {
    .letra2 {
        font-size: 30px;
        text-shadow: 1px 1px black;

    }
}
@media (min-width: 300px) and (max-width:768px) {
    .cardBackground{
        background-position: left top;
        background-image: url('https://4kwallpapers.com/images/wallpapers/far-cry-6-clara-garcia-pc-games-playstation-4-amazon-luna-3440x1440-5626.jpg');
        background-repeat: no-repeat;
        background-size: cover;


    }
}

@media (min-width: 770px) and (max-width: 952px) {
    .cardBackground{
        background-position: left top;
        background-image: url('https://4kwallpapers.com/images/wallpapers/far-cry-6-clara-garcia-pc-games-playstation-4-amazon-luna-3440x1440-5626.jpg');
        background-repeat: no-repeat;
        background-size: cover;


    }
}
@media (min-width: 953px) {
    .cardBackground{
        background-position: left top;
        background-image: url('https://4kwallpapers.com/images/wallpapers/far-cry-6-clara-garcia-pc-games-playstation-4-amazon-luna-3440x1440-5626.jpg');
        background-repeat: no-repeat;
        background-size: cover;



    }
}
@media (min-width: 200px) and (max-width:768px) {
    .balala{
        width:80%;
        height:50%;

    }
}
@media (min-width: 770px) and (max-width: 952px) {
    .balala{
        width:60%;
        height:50%;
    }
}
@media (min-width: 953px) {
    .balala{
        width:60%;
        height:35%;

    }
}
@media (min-width: 10px) and (max-width:768px) {
    .cardBackground2{
        background-position: center top;

        background-repeat: no-repeat;
        background-size: cover;


    }
}

@media (min-width: 770px) and (max-width: 952px) {
    .cardBackground2{
        background-position: center top;

        background-repeat: no-repeat;
        background-size: cover;


    }
}
@media (min-width: 953px) {
    .cardBackground2{
        background-position: center top;
        background-repeat: no-repeat;
        background-size:cover;


    }
}
.card-body.cardBackground2 {
    position: relative; /* Required for proper positioning of pseudo-element */
}
@media (min-width: 300px) and (max-width:768px) {
    .balala2{
        width:85%;

    }
}
@media (min-width: 770px) and (max-width: 952px) {
    .balala2{
        width:70%;
    }
}
@media (min-width: 953px) {
    .balala2{
        width:60%;

    }
}
@media (min-width: 300px) and (max-width:768px) {
    .margin-teste{
        margin:auto;

    }
}
@media (min-width: 770px) and (max-width: 952px) {
    .margin-teste{
        margin-left:auto;
    }
}
@media (min-width: 953px) {
    .margin-teste{
        margin-left:auto;

    }
}
.searchbar{
    margin-bottom: auto;
    margin-top:10%;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
}
@media (min-width:0px) and (max-width: 300px) {
    .searchbar{
        margin-bottom: auto;
        margin-top:30%;
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
        -webkit-transition: background 1s ease-out;
        -moz-transition: background 1s ease-out;
        -o-transition: background 1s ease-out;
        transition: background 1s ease-out;
    }
}
@media (min-width:301px) and (max-width: 400px) {
    .searchbar{
        margin-bottom: auto;
        margin-top:27%;
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
        -webkit-transition: background 1s ease-out;
        -moz-transition: background 1s ease-out;
        -o-transition: background 1s ease-out;
        transition: background 1s ease-out;
    }
}
@media (min-width:401px) and (max-width: 500px) {
    .searchbar{
        margin-bottom: auto;
        margin-top:22%;
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
        -webkit-transition: background 1s ease-out;
        -moz-transition: background 1s ease-out;
        -o-transition: background 1s ease-out;
        transition: background 1s ease-out;
    }
}
@media (min-width:501px) and (max-width: 600px) {
    .searchbar{
        margin-bottom: auto;
        margin-top:20%;
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
        -webkit-transition: background 1s ease-out;
        -moz-transition: background 1s ease-out;
        -o-transition: background 1s ease-out;
        transition: background 1s ease-out;
    }
}
@media (min-width:601px) and (max-width: 750px) {
    .searchbar{
        margin-bottom: auto;
        margin-top:18%;
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
        -webkit-transition: background 1s ease-out;
        -moz-transition: background 1s ease-out;
        -o-transition: background 1s ease-out;
        transition: background 1s ease-out;
    }
}
@media (min-width:751px) and (max-width: 800px) {
    .searchbar{
        margin-bottom: auto;
        margin-top:15%;
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
        -webkit-transition: background 1s ease-out;
        -moz-transition: background 1s ease-out;
        -o-transition: background 1s ease-out;
        transition: background 1s ease-out;
    }
}
@media (min-width:751px) and (max-width: 800px) {
    .searchbar{
        margin-bottom: auto;
        margin-top:15%;
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
        -webkit-transition: background 1s ease-out;
        -moz-transition: background 1s ease-out;
        -o-transition: background 1s ease-out;
        transition: background 1s ease-out;
    }
}
@media (min-width:801px) and (max-width: 950px) {
    .searchbar{
        margin-bottom: auto;
        margin-top:13%;
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
        -webkit-transition: background 1s ease-out;
        -moz-transition: background 1s ease-out;
        -o-transition: background 1s ease-out;
        transition: background 1s ease-out;
    }
}

@media (min-width:951px) and (max-width: 1100px) {
    .searchbar{
        margin-bottom: auto;
        margin-top:13%;
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
        -webkit-transition: background 1s ease-out;
        -moz-transition: background 1s ease-out;
        -o-transition: background 1s ease-out;
        transition: background 1s ease-out;
    }
}
@media (min-width:1101px) and (max-width: 1800px) {
    .searchbar{
        margin-bottom: auto;
        margin-top: 8%;
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
        -webkit-transition: background 1s ease-out;
        -moz-transition: background 1s ease-out;
        -o-transition: background 1s ease-out;
        transition: background 1s ease-out;
    }
}


.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: calc(100% - 50px); /* Subtrai a largura do ícone de pesquisa */
    line-height: 40px;
    padding: 0 10px;
}
.dropdown-menu {
    background-color: #DCDCDC; /* Cinza */
}


.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    -webkit-transition: background 0.8s ease-out;
    -moz-transition: background 0.8s ease-out;
    -o-transition: background 0.8s ease-out;
    transition: background 0.8s ease-out;
}
#demoFont {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 35px;
    letter-spacing: 2.4px;
    word-spacing: -1.6px;
    color: #E4E4E4;
    font-weight: 700;
    text-decoration: rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}
.thumbnail {
    margin:auto;
    width: 200px;
    height: 200px;
}
.thumbnail img {
    display:flex;

    height: 100%;
    width: auto;

}
@media (min-width:200px) and (max-width: 600px) {
    .imagem3 {
        max-height:170px;
        max-width:170px;
        width:100%;
        height:200px;
    }
}

.descer {
    margin-top:10%;
}

@media (min-width:1008px) and (max-width: 1800px) {
    .tamanhocard {
        width:40%;
    }
}
@media (min-width:200px) and (max-width: 400px) {
    .letrafoda {
        font-size:23px;
    }
}
@media (min-width:401px) and (max-width: 600px) {
    .letrafoda {
        font-size:35px;
    }
}
@media (min-width:601px) and (max-width: 600px) {
    .letrafoda {
        font-size:35px;
    }
}
@media (min-width:200px) and (max-height: 600px) {
    .cartel {
        height:40rem;
    }
}
@media (min-width:450px) and (max-width: 700px) {
    .cartel {
        height:37rem;
    }
}
@media (min-width:700px) and (max-width: 1500px) {
    .cartel {
        height:38rem;
    }
}
.custom-page-link1 {
    font-size:33px;
    margin-right:5px;

}
.custom-page-link2 {
    font-size:33px;
    margin-left:5px;

}
body {
    overflow: auto; /* Para evitar que a animação ultrapasse o contêiner */
}

.fadeInFromBottom {
    opacity: 0;
    transform: translateY(100%);
    animation: fadeInFromBottom 1.2s forwards;
}

@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-moz-keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-o-keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-ms-keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-moz-keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-o-keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-ms-keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInFromRight {
    opacity: 0;
    transform: translateX(100%);
    animation: fadeInFromRight 1.2s forwards;
}
@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-moz-keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-o-keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-ms-keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInFromLeft {
    opacity: 0;
    transform: translateX(-100%);
    animation: fadeInFromLeft 1.2s forwards;
}

@media (min-width:300px) and (max-width: 768px) {
    .largura {
        width: 94%
    }
}
@media (min-width:768px) and (max-width: 1000px) {
    .largura {
        width: 80%
    }
}
@media (min-width:1000px) and (max-width: 2000px) {
    .largura {
        width: 60%
    }
}
@media (min-width:100px) and (max-width: 576px) {
    .cartao-review {
        display:flex;
        margin-top:330px;
        position:relative;
        left:12px;
    }
}
@media (min-width:577px) and (max-width: 2000px) {
    .cartao-review {
        width:80%;

        display:flex;
        margin:auto;
        margin-top:10px;
    }
}
.no-hover-effect:hover {
    box-shadow: 0 0px 12px 0 black;
}
html {
    scroll-behavior: smooth;
}

.imagem1:hover {
    filter: drop-shadow(0 0 0.1rem black);
}
.invalid-input {
        border: 2px solid red !important; /* Important to override existing styles */
    }
    .form-control:focus {
        
    }
    
    .valid-input {
        border: 2px solid lightgreen !important; /* Important to override existing styles */
    }
    .form-control:focus {
          box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.8);
        border: 1px solid #ccc; /* Adiciona uma borda cinza */
}
@media (min-width:768px) and (max-width: 1000px) {
    .lista-generos {
       width: 80%;
       margin-top:12%;
    }
}
@media (min-width:1000px) and (max-width: 2000px) {
    .lista-generos {
       width: 70%;
       margin-top:10%;
    }
}
@media (min-width:200px) and (max-width: 400px) {
    .lista-generos   {
       width: 80%;
       margin-top:80px;
    }
}
@media (min-width:200px) and (max-width: 2000px) {
.searchbar {
    width:100%;
}
}

@media (min-width:300px) and (max-width: 768px) {
    .largura2 {
        width: 100%
    }
}
@media (min-width:768px) and (max-width: 1000px) {
    .largura2 {
        width: 70%
    }
}
@media (min-width:1000px) and (max-width: 2000px) {
    .largura2 {
        width: 60%
    }
}

@media (min-width:1000px) and (max-width: 2000px) {
.generos {
    display:flex;
text-align:center;
    margin-top:3%;
    justify-content: center;
    position:relative;
     
}
}
@media (min-width:200px) and (max-width: 450px) {
.generos {
    display:flex;
    margin-top:3%;
    text-align:center;
    justify-content: center;
    position:relative;
     
}
}
@media (min-width:451px) and (max-width: 900px) {
.generos {
    display:flex;
    margin-top:3%;
    text-align:center;
    justify-content: center;
    position:relative;
     
}
}
@media (min-width:901px) and (max-width: 999px) {
.generos {
    display:flex;
    margin-top:3%;
    text-align:center;
    justify-content: center;
    position:relative;
     
}
}
.cavalos {
    
    display:flex;
    margin-left:20px;
}
.custom-btn {
    color: white;
    white-space: nowrap;
    background-color: black;
    font-weight: bold;
    border: 2px solid #707070; /* Cor inicial da borda */
    width: 145px;
    height: 60px;
    margin-right: 9px;
    padding-right: 11px;
    position: relative;
    overflow: hidden;
    transition: border-color 0.3s ease; /* Transição da cor da borda */
}

.custom-btn:hover {
    border-color: white; /* Cor da borda ao passar o mouse */
}
